@model Fazilat.Models.ViewModels.AccountSignInViewModel

@{
    ViewData["Title"] = "ورود به پنل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-black text-center">@ViewData["Title"]</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-4 text-right m-3 mt-2 bg-white border rounded-lg shadow">
        <section>
            <form id="account" method="post">
                <h6 class="text-center mt-3 alert alert-success">به آوای فضیلت خوش آمدید</h6>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-floating mt-4">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control ltr" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating mt-3">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating mt-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success">ورود</button>
                </div>
                <div class="mt-3">
                    <p>
                        <a id="forgot-password" class="text-thin" asp-area="Account" asp-controller="Home" asp-action="ForgotPassword" hidden>رمز عبور خود را فراموش کرده اید؟</a>
                    </p>
                    <p class="text-center mt-4 small">
                        <a id="register" asp-area="" asp-controller="Account" asp-action="SignUp">حساب کاربری ندارید؟ ثبت نام کنید.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
