<ul class="nav nav-pills flex-column text-right">
    <li class="nav-item">
        @Html.ActionLink("پنل کاربری", "Index", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("تغییر رمزعبور", "ChangePassword", "Home", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("مشخصات فردی", "PersonalInfo", "Home", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("پرونده تحصیلی", "EducationalFile", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("برنامه مطالعاتی", "Curricula", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("پیام ها", "Message", "Dashboard", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("مشاوران", "Adviser", "Administrator", new { @area = "Account" }, new {@class = "nav-link" })
    </li>
</ul>
