@{
    var administrator = User.IsInRole("Administrator");
    var adviser = User.IsInRole("Adviser");
    var parent = User.IsInRole("Parent");
    var student = User.IsInRole("User");
}
<div class="border border-success rounded-lg bg-white box-shadow mb-2 p-3">
    <ul class="nav nav-pills flex-column text-right p-0">
        <li class="nav-item mb-2 border border-success rounded-lg">
            @Html.ActionLink("پنل کاربری", "Index", "Dashboard", new { @area = "Account" }, new {@class = "nav-link text-success" })
        </li>
        @if (administrator && adviser)
        {
            <li class="nav-item mb-2 border border-success rounded-lg">
                @Html.ActionLink("پنل کاربری مشاور", "Index", "Adviser", new { @area = "Account" }, new {@class = "nav-link text-success" })
            </li>
        }
        @if (administrator)
        {
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("اسلایدر", "Slide", "Administrator", new { @area = "Account" }, new {@class = "nav-link text-danger" })
            </li>
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("آلبوم ها", "Index", "Categories", new { @area = "Panel" }, new { @class = "nav-link text-danger" })
            </li>
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("خبرنامه", "Blog", "Administrator", new { @area = "Account" }, new {@class = "nav-link text-danger" })
            </li>
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("پرونده جامع مالی", "FinancialFiles", "Administrator", new { @area = "Account" }, new {@class = "nav-link text-danger" })
            </li>
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("دوره های جمعبندی", "Index", "Workshops", new { @area = "Panel" }, new { @class = "nav-link text-danger" })
            </li>
            <li class="nav-item mb-2 border border-danger rounded-lg">
                @Html.ActionLink("جلسات انتخاب رشته", "Ticket", "Administrator", new { @area = "Account" }, new {@class = "nav-link text-danger" })
            </li>
        }
        @if (!adviser && !administrator)
        {
            @if (!parent)
            {
                <li class="nav-item mb-2 border border-success rounded-lg">
                    @Html.ActionLink("پیام ها", "Message", "Dashboard", new { @area = "Account" }, new {@class = "nav-link text-success" })
                </li>
            }
            <li class="nav-item mb-2 border border-success rounded-lg">
                @Html.ActionLink("پرونده تحصیلی", "EducationalFile", "Dashboard", new { @area = "Account" }, new {@class = "nav-link text-success" })
            </li>
            <li class="nav-item mb-2 border border-success rounded-lg">
                @Html.ActionLink("پرونده مالی", "FinancialFile", "Dashboard", new { @area = "Account" }, new {@class = "nav-link text-success" })
            </li>
        }
        <li class="nav-item mb-2 border border-success rounded-lg">
            @Html.ActionLink("مشخصات فردی", "PersonalInfo", "Home", new { @area = "Account" }, new {@class = "nav-link text-success" })
        </li>
        <li class="nav-item border border-success rounded-lg">
            @Html.ActionLink("تغییر رمزعبور", "ChangePassword", "Account", new { @area = "" }, new {@class = "nav-link text-success" })
        </li>
    </ul>
</div>
