@model PasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-floating">
                @Html.LabelFor(m => m.CurrentPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
