@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر رمز عبور";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 text-right">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <form id="change-password-form" method="post">
            <div class="form-floating p-3 mb-3 border rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control ltr", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                <div class="form-floating mb-4">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control ltr", @placeholder = "New password" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating">
                    @Html.LabelFor(m => m.NewPasswordRetype, new { @class = "form-label" })
                    @Html.PasswordFor(m => m.NewPasswordRetype, new { @class = "form-control ltr", @placeholder = "New password retype" })
                    @Html.ValidationMessageFor(m => m.NewPasswordRetype, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-floating">
                <button type="submit" class="w-100 btn btn-lg btn-success">تغییر رمز عبور</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
