@model AccountViewModel

@{
    ViewData["Title"] = "حساب کاربری";
}

<div id="af-account" class="af-account-page @(!Model.isLoginPage ? "register" : "login")">
    @* Brand *@
    <a class="brand-link" href="/">
        <img class="brand-icon" src="/favicon.svg" />
    </a>

    <div class="instruction-text">
        <div class="text-wrapper">
            <div class="login-instruction-text">
                <h4>خوش آمدید</h4>
                <p>برای ادامه مسیر توسعه فردی خود وارد شوید.</p>
            </div>
            <div class="register-instruction-text">
                <h4>عضویت در سامانه</h4>
                <p>با ثبت نام در این سامانه از تمامی خدمات آوای فضیلت استفاده نمایید.</p>
            </div>
        </div>
        <button class="btn-ghost btn-invert swap-button" for="isLoginPage" onclick="swap()">
            <span class="register-title">
                <img src="/icons/user-w.svg" />
                ثبت نام کن
            </span>
            <span class="login-title">
                <img src="/icons/user-w.svg" />
                ورود به پنل
            </span>
        </button>
        @Html.ValidationSummary(false, string.Empty, new { @class = "absolute-errors-box" })
    </div>
    <div class="account-forms">

        <div class="form-wrapper login">
            <div class="form-title">
                <h3>ورود به پنل</h3>
                <p>به سامانه توسعه فردی نیومن خوش آمدید</p>
            </div>
            <form method="post">
                <input type="hidden" asp-for="isLoginPage" value="True" data-val="True" />
                <div class="form-inputs-wrapper">
                    <div>
                        <div class="input en">
                            <img src="/icons/phone.svg" />
                            @Html.TextBoxFor(m => m.Login.PhoneNumber,
                                new { @placeholder = Html.DisplayNameFor(m => m.Login.PhoneNumber) })
                        </div>
                    </div>
                    <div>
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            @Html.PasswordFor(m => m.Login.Password, 
                                new { @placeholder = Html.DisplayNameFor(m => m.Login.Password) })
                        </div>
                        <a class="forgot-password-link" asp-area="" asp-controller="Account" asp-action="ForgotPassword">
                            رمزعبور خود را فراموش کرده اید؟
                        </a>
                    </div>
                </div>
                <button type="submit" class="btn-cta submit-button">
                    <span class="login-title">
                        <img src="/icons/secure-accept.svg" />
                        تایید
                    </span>
                </button>
            </form>
        </div>

        <div class="form-wrapper register">
            <div class="form-title">
                <h3>ثبت نام</h3>
                <p>با عضویت در سامانه نیومن از تمامی خدمات آوای فضیلت استفاده نمایید.</p>
            </div>
            <form method="post">
                <input type="hidden" asp-for="isLoginPage" value="False" data-val="False" />
                <div class="form-inputs-wrapper">
                    <div>
                        <div class="input">
                            <img src="/icons/user.svg" />
                            @Html.TextBoxFor(m => m.Register.FirstName, new { @placeholder = "نام" })
                            @Html.TextBoxFor(m => m.Register.LastName, new { @placeholder = "نام خانوادگی" })
                        </div>
                    </div>
                    <div>
                        <div class="input en">
                            <img src="/icons/phone.svg" />
                            @Html.TextBoxFor(m => m.Register.PhoneNumber, new { @placeholder = "Phone Number" })
                        </div>
                    </div>
                    <div>
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            @Html.PasswordFor(m => m.Register.Password, new { @placeholder = "Password" })
                        </div>
                    </div>
                    <div>
                        <div class="input en">
                            <img src="/icons/password.svg" />
                            @Html.PasswordFor(m => m.Register.ConfirmPassword, new { @placeholder = "Confirm Password" })
                        </div>
                    </div>
                </div>
                <button class="btn-cta submit-button">
                    <span class="register-title">
                        <img src="/icons/secure-accept.svg" />
                        تایید
                    </span>
                </button>

            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function swap() {
            var page = document.getElementById('af-account');
            var isLogin = page.classList.contains('login');
            if (isLogin) {
                page.classList.remove('login');
                page.classList.add('register');
            } else {
                page.classList.remove('register');
                page.classList.add('login');
            }
            return;
        }
    </script>
}
