@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" />
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-floating">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-label" })
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-area="Account" asp-controller="Home" asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="register" asp-area="Account" asp-controller="Home" asp-action="Register">Register as a new user.</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
