@using System;
@model InformationModel
@{
    ViewData["Title"] = "مشخصات فردی";
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form id="personal-information-form" method="post" enctype="multipart/form-data">
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.NationalCode, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.NationalCode, new { @class = "form-control ltr" })
                @Html.ValidationMessageFor(m => m.NationalCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                <div class="form-floating mb-4">
                    @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="form-floating">
                    @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.BirthDate, new { @class = "form-label" })
                <div class="row d-flex justify-content-between ltr pr-3 pl-3">
                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control col-3 text-center" })
                    @Html.TextBoxFor(m => m.Month, new { @class = "form-control col-3 text-center" })
                    @Html.TextBoxFor(m => m.Day, new { @class = "form-control col-3 text-center" })
                </div>
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control ltr" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.Province, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Province, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
                @Html.LabelFor(m => m.BirthCertificateFile, new { @class = "form-label" })
                @if(Model.BirthCertificate != null)
                {
                    @Html.HiddenFor(m => m.BirthCertificate)
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.BirthCertificate)" class="col-md-12 p-0 border border-success rounded-lg" />
                }
                else
                {
                    @Html.EditorFor(m => m.BirthCertificateFile)
                }
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-success">به روز رسانی</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
