@using System;
@model InformationModel
@{
    ViewData["Title"] = "Personal Information";
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="personal-information-form" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-floating">
                @Html.LabelFor(m => m.NationalCode, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.NationalCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NationalCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.BirthDate, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                @Html.TextBoxFor(m => m.Month, new { @class = "form-control" })
                @Html.TextBoxFor(m => m.Day, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating">
                @Html.LabelFor(m => m.BirthCertificate, new { @class = "form-label" })
                @if(Model.BirthCertificate != null)
                {
                    @Html.HiddenFor(m => m.BirthCertificate)
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.BirthCertificate)" class="col" />
                }
                else
                {
                    @Html.EditorFor(m => m.BirthCertificateFile)
                }
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update Information</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
