@model IEnumerable<Fazilat.Models.Workshop>

@{
    ViewData["Title"] = "کلاس های ویژه امتحان نهایی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-5 mb-4" style="font-weight: 600;">@ViewBag.Title</h2>

<div class="row d-md-flex flex-wrap text-right">
    @for (var grade = 10; grade <= 12; grade++)
    {
        <div class="col-lg p-2">
            @if (grade == 10)
            {
                <form asp-controller="Learners" asp-action="Create" method="get" class="card border-primary overflow-hidden">
                    <div class="card-header d-flex justify-content-between">
                        <h6 class="m-0 pt-2 text-primary font-weight-bold">پایه دهم</h6>
                        <input type="submit" class="btn btn-primary" value="ثبت نام" />
                    </div>
                    <ul class="list-group list-group-flush p-0">
                        @foreach (var item in Model.Where(i => i.Grade == grade))
                        {
                            <li class="list-group-item d-flex">
                                <input type="checkbox" name="workshops" id="@item.Id" value="@item.Id" />
                                <label for="@item.Id" class="d-flex justify-content-between flex-fill mr-3">
                                    <span>
                                        <h6 class="m-0 text-dark">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <small class="text-muted">از @Html.DisplayFor(modelItem => item.StartDate)</small>
                                    </span>
                                    <small class="text-primary pt-4">@Html.DisplayFor(modelItem => item.Cost) ریال</small>
                            </label>
                            </li>
                        }
                    </ul>
                </form>
            }
            else if (grade == 11)
            {
                <form asp-controller="Learners" asp-action="Create" method="get" class="card border-warning overflow-hidden">
                    <div class="card-header d-flex justify-content-between">
                        <h6 class="m-0 pt-2 text-warning font-weight-bold">پایه یازدهم</h6>
                        <input type="submit" class="btn btn-warning" value="ثبت نام" />
                    </div>
                    <ul class="list-group list-group-flush p-0">
                        @foreach (var item in Model.Where(i => i.Grade == grade))
                        {
                            <li class="list-group-item d-flex">
                                <input type="checkbox" name="workshops" id="@item.Id" value="@item.Id" />
                                <label for="@item.Id" class="d-flex justify-content-between flex-fill mr-3">
                                    <span>
                                        <h6 class="m-0 text-dark">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <small class="text-muted">از @Html.DisplayFor(modelItem => item.StartDate)</small>
                                    </span>
                                    <small class="text-warning pt-4">@Html.DisplayFor(modelItem => item.Cost) ریال</small>
                                </label>
                            </li>
                        }
                    </ul>
                </form>
            }
            else if (grade == 12)
            {
                <form asp-controller="Learners" asp-action="Create" method="get" class="card border-success overflow-hidden">
                    <div class="card-header d-flex justify-content-between">
                        <h6 class="m-0 pt-2 text-success font-weight-bold">پایه دوازدهم</h6>
                        <input type="submit" class="btn btn-success" value="ثبت نام" />
                    </div>
                    <ul class="list-group list-group-flush p-0">
                        @foreach (var item in Model.Where(i => i.Grade == grade))
                        {
                            <li class="list-group-item d-flex">
                                <input type="checkbox" name="workshops" id="@item.Id" value="@item.Id" />
                                <label for="@item.Id" class="d-flex justify-content-between flex-fill mr-3">
                                    <span>
                                        <h6 class="m-0 text-dark">@Html.DisplayFor(modelItem => item.Title)</h6>
                                        <small class="text-muted">از @Html.DisplayFor(modelItem => item.StartDate)</small>
                                    </span>
                                    <small class="text-success pt-4">@Html.DisplayFor(modelItem => item.Cost) ریال</small>
                                </label>
                            </li>
                        }
                    </ul>
                </form>
            }
        </div>
    }
</div>



@*
<table class="list-group">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="list-group-item d-flex justify-content-between align-items-end my-3">
                <td class="d-flex flex-column">
                    <h6 class="m-0" style="font-weight: 600;">@Html.DisplayFor(modelItem => item.Title)</h6>
                    @if (item.Grade == 10)
                    {
                        <small class="text-success text-right">پایه دهم</small>
                    }
                    else if(item.Grade == 11)
                    {
                        <small class="text-success text-right">پایه یازدهم</small>
                    }
                    else if(item.Grade == 12)
                    {
                        <small class="text-success text-right">پایه دوازدهم</small>
                    }
                </td>
                <td class="text-left">
                    <p class="mb-2">
                        <small>تاریخ شروع دوره: @Html.DisplayFor(modelItem => item.StartDate)</small>
                        |
                        <small class="text-primary">@Html.DisplayFor(modelItem => item.Cost) ریال</small>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@