@using System;
@model CurriculumModel;
@{
    ViewData["Title"] = Model.Title;
}

@*
<form id="personal-information-form" class="rounded-lg border border-success bg-white pt-3 pb-3 mb-3" method="post">
    <input id="Id" name="Id" type="hidden" value="@Model.Id" />
    <input id="UserId" name="UserId" type="hidden" value="@Model.UserId" />
    <div class="d-md-flex justify-content-between">
        <div class="form-floating col-md-6 mb-3">
            @Html.LabelFor(m => m.Title, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-floating col-md-6 mb-3">
            @Html.LabelFor(m => m.StartDate, new { @class = "form-label" })
            <div class="row d-flex justify-content-between ltr pr-3 pl-3">
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control col-3 text-center" })
                @Html.TextBoxFor(m => m.Month, new { @class = "form-control col-3 text-center" })
                @Html.TextBoxFor(m => m.Day, new { @class = "form-control col-3 text-center" })
            </div>
            @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-floating col-md-12 mb-3">
        @Html.LabelFor(m => m.Description, new { @class = "form-label" })
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-floating col-md-12 text-left">
        <button type="submit" class="btn btn btn-success w-auto">به روز رسانی</button>
    </div>
</form>
*@

<div class="list-group">
    <form id="add-course-form" method="post" action="/Adviser/Course" class="list-group-item list-group-item-info d-flex flex-column px-3">
        @Html.HiddenFor(c => c.Id)
        <div class="d-flex justify-content-between mb-2">
            <input type="text" name="Title" class="form-control" placeholder="عنوان درس" />
            <button class="btn btn-primary mr-2">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <textarea type="text" name="Topics" class="form-control" placeholder="سرفصل ها و توضیحات"></textarea>
    </form>
@foreach(var course in Model.Courses)
{
    <form id="remove-course-form" method="post" action="/Adviser/Course" class="list-group-item list-group-item d-flex flex-column border-info px-3 mt-3">
        <input id="Id" name="Id" type="hidden" value="@course.Id" />
        <div class="d-flex justify-content-between mb-2">
            <span class="form-control d-flex justify-content-between">
                @Html.DisplayFor(c => course.Title)
                <span>
                @if (@course.Accomplished)
                {
                    <i class="fa fa-check-square-o text-success"></i>
                }
                else
                {
                    <i class="fa fa-square-o text-danger"></i>
                }
                </span>
            </span>
            <button class="btn btn-outline-danger mr-2">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <span class="form-control h-auto">
            @Html.Raw(course.Topics.Replace(Environment.NewLine, "<br />"))
        </span>
        @if(course.Descritpion != null)
        {
            <span class="form-control h-auto mt-2">
                @Html.Raw(course.Descritpion.Replace(Environment.NewLine, "<br />"))
            </span>
        }
    </form>
}
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
