@using System;
@model CurriculumModel;
@{
    ViewData["Title"] = Model.Title;
}

<div class="form-floating d-flex justify-content-between flex-column border-bottom border-success pb-3 mb-3">
    <div class="alert alert-info">
        @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br />"))
    </div>
    <div class="d-flex justify-content-between flex-row">
        <a asp-action="curricula" asp-route-id="@Model.UserId" class="btn btn-outline-info">برنامه های مطالعاتی داوطلب</a>
        <form id="remove-curriculum-form" method="post">
            <input id="Id" name="Id" type="hidden" value="@Model.Id" />
            <button type="submit" class="btn btn btn-danger">حذف برنامه مطالعه</button>
        </form>
    </div>
</div>
<div class="list-group">
    <form id="add-course-form" method="post" action="/Adviser/Course" class="list-group-item list-group-item-info d-flex flex-column px-3">
        @Html.HiddenFor(c => c.Id)
        <div class="d-flex justify-content-between mb-2">
            <input type="text" name="Title" class="form-control" placeholder="عنوان درس" />
            <button class="btn btn-primary mr-2">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <textarea type="text" name="Topics" class="form-control" placeholder="سرفصل ها و توضیحات"></textarea>
    </form>
@foreach(var course in Model.Courses)
{
    <form id="remove-course-form" method="post" action="/Adviser/Course" class="list-group-item list-group-item d-flex flex-column border-info px-3 mt-3">
        <input id="Id" name="Id" type="hidden" value="@course.Id" />
        <div class="d-flex justify-content-between mb-2">
            <span class="form-control d-flex justify-content-between">
                @Html.DisplayFor(c => course.Title)
                <span>
                @if (@course.Accomplished)
                {
                    <i class="fa fa-check-square-o text-success"></i>
                }
                else
                {
                    <i class="fa fa-square-o text-danger"></i>
                }
                </span>
            </span>
            <button class="btn btn-outline-danger mr-2">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <span class="form-control h-auto">
            @Html.Raw(course.Topics.Replace(Environment.NewLine, "<br />"))
        </span>
        @if(course.Descritpion != null)
        {
            @Html.TextAreaFor(c => course.Descritpion, new { @class = "form-control mt-2", disabled = true })
        }
    </form>
}
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
