@using System.Globalization;
@model IEnumerable<Fazilat.Models.Curriculum>
@{
    ViewData["Title"] = "فهرست برنامه های مطالعاتی";
    var userId = this.ViewContext.RouteData.Values["id"];
    PersianCalendar persianCalendar = new PersianCalendar();
    var nowDate = DateTime.Now;
    var startDateDay = persianCalendar.GetDayOfMonth(nowDate);
    var startDateMonth = persianCalendar.GetMonth(nowDate);
    var startDateYear = persianCalendar.GetYear(nowDate);

}

<form id="personal-information-form" class="rounded-lg border bg-white pt-3 pb-3 mb-3" method="post">
    <input id="UserId" name="UserId" type="hidden" value="@userId" />
    <div class="d-md-flex justify-content-between">
        <div class="form-floating col-md-6 mb-3">
            <label class="form-label">عنوان برنامه</label>
            <input id="Title" name="Title" type="text" class="form-control" />
        </div>
        <div class="form-floating col-md-6 mb-3">
            <label class="form-label">تاریخ آغاز برنامه</label>
            <div class="row d-flex justify-content-between ltr pr-3 pl-3">
                <input id="Year" name="Year" type="text" class="form-control col-3 text-center" value="@startDateYear" />
                <input id="Month" name="Month" type="text" class="form-control col-3 text-center" value="@startDateMonth" />
                <input id="Day" name="Day" type="text" class="form-control col-3 text-center" value="@startDateDay" />
            </div>
        </div>
    </div>
    <div class="form-floating col-md-12 mb-3">
        <label class="form-label">توضیحات برنامه هفتگی</label>
        <textarea id="Description" name="Description" type="text" class="form-control"></textarea>
    </div>
    <div class="form-floating col-md-12 text-left">
        <button type="submit" class="btn btn btn-outline-success w-auto">ایجاد برنامه جدید</button>
    </div>
</form>

<ul class="list-group p-0">
@foreach(var curriculum in Model)
{
    var startDate = String.Format("{0}/{1}/{2}",
        persianCalendar.GetYear(curriculum.StartDate).ToString(),
        persianCalendar.GetMonth(curriculum.StartDate).ToString(),
        persianCalendar.GetDayOfMonth(curriculum.StartDate).ToString());
    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" asp-area="Account" asp-controller="Adviser" asp-action="Curriculum" asp-route-id="@curriculum.Id">
        @curriculum.Title
        <span class="badge badge-dark">@startDate</span>
    </a>
}
</ul>
