@model IEnumerable<Fazilat.Models.ApplicationUser>
@{
    ViewData["Title"] = "فهرست داوطلبان";
}

<form id="administrator-search-form" method="post" class="d-flex bg-white border rounded-lg p-3 mb-3">
    <div class="form-floating w-100 ml-3">
        <input type="search" name="Search" class="form-control" placeholder="نام، نام خانوادگی، کد ملی یا شماره تماس" />
    </div>
    <button type="submit" class="btn btn-success">جستجو</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="alert-success">
            <td>
                @Html.DisplayFor(modelItem => item.Information.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a class="text-primary" asp-action="Message" asp-route-id="@item.Id">پیام ها</a> |
                <a class="text-warning" asp-action="Curriculum" asp-route-id="@item.Id">برنامه مطالعاتی</a>
            </td>
        </tr>
}
    </tbody>
</table>
