@model IEnumerable<Fazilat.Models.Post>

<div class="panel-blog-title-bar">
    <a class="btn btn-icon panel-card" asp-area="Dashboard" asp-controller="Home" asp-action="Index">
        <img src="/icons/panel-back.svg" />
    </a>
    <h4>فهرست مقالات بلاگ</h4>
</div>
<div class="blog-wrapper">
    <table class="posts-list">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>وضعیت</th>
                <th>تاریخ انتشار</th>
                <th>نویسنده</th>
                <th>هدر مقاله</th>
                <th>
                    <div class="row-action">
                        <a class="btn btn-icon" asp-area="Dashboard" asp-controller="Blog" asp-action="Add">
                            <img src="/icons/post-add-blue.svg" />
                        </a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVisible)
                    </td>
                    <td>
                        @item.Published.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @string.Join(" ", item.Author.FirstName, item.Author.LastName)
                    </td>
                    <td>
                        <a class="btn btn-icon" href="/images/@item.Header.Category.Name.ToLower()/@item.Header.FileName@item.Header.Extension" target="_blank">
                            <img src="/icons/external-link.svg" />
                        </a>
                    </td>
                    <td>
                        <div class="row-action">
                            <a class="btn btn-icon" asp-action="Edit" asp-route-id="@item.Id">
                                <img src="/icons/post-edit.svg" />
                            </a>
                            <a class="btn btn-icon" asp-action="Delete" asp-route-id="@item.Id">
                                <img src="/icons/post-delete.svg" />
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
