@using Microsoft.AspNetCore.Identity
@using System.Text
@using Fazilat.Models
@using Fazilat.Areas.Dashboard.Models
@inject UserManager<ApplicationUser> userManager;

@{
    ApplicationUser user = userManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name);
    string fullName = string.Join(" ", user.FirstName, user.LastName);

    IList<string> userRoles = await userManager.GetRolesAsync(user);

    byte[] selectedRole;
    Context.Session.TryGetValue(PanelRole.Key, out selectedRole);
    string panelRole = Encoding.UTF8.GetString(selectedRole);
}

<nav class="dashboard-nav">
    @* Brand *@
    <a class="dashboard-nav-brand" href="/">
        <img class="brand-icon" src="/favicon.svg" />
    </a>
    <h3 class="dashboard-nav-name">@fullName</h3>

    @* Main Menu *@
    <div class="dashboard-nav-container">
        <div class="dropdown dashboard-nav-role">
            <input type="checkbox" hidden id="dashboard-nav-role" />
            <label class="dropdown-selected" for="dashboard-nav-role">
                <img src="/icons/dropdown.svg" />
                <hr />
                @* <p>@roleTitle.GetValueOrDefault(panelRole)</p> *@
                <p>@PanelRole.GetTitle(panelRole)</p>
            </label>
            <form class="dropdown-options" asp-area="Dashboard" asp-controller="Home" asp-action="Index" method="post">
                @foreach (string role in userRoles)
                {
                    <button class="dropdown-option" name="role" type="submit" value="@role">@PanelRole.GetTitle(role)</button>
                    @* <input class="dropdown-option" name="role" type="submit" value="@role" /> *@
                }
            </form>
        </div>
        <form asp-area="" asp-controller="Account" asp-action="SignOut" method="post">
            <button class="dashboard-nav-signout">
                <img src="/icons/signout.svg" />
            </button>
        </form>
    </div>
</nav>
