@model IEnumerable<ApplicationUser>

<div class="panel-users-card">
    <div class="users-wrapper">
        <table class="users-list">
            <thead>
                <tr>
                    <th>کاربر</th>
                    <th>شماره تماس</th>
                    <th>پست الکترونیک</th>
                    <th>وضعیت</th>
                    <th>
                        <a asp-area="Dashboard" asp-controller="Users" asp-action="Add">
                            <img src="/icons/user-add-blue.svg" />
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplicationUser user in Model)
                {
                    <tr>
                        <th>
                            <img class="profile-picture" />
                            <div>
                                <h5>@user.FirstName @user.LastName</h5>
                                <p>@user.UserName</p>
                            </div>
                        </th>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Email</td>
                        <td></td>
                        <td>
                            <div class="row-action">
                                <a class="btn" asp-area="Dashboard" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">
                                    <img src="/icons/user-edit.svg" />
                                </a>
                                <a class="btn" asp-area="Dashboard" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id">
                                    <img src="/icons/user-delete.svg" />
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
