@using System.Globalization;
@model IEnumerable<BlogPost>
@{
    ViewData["Title"] = "خبرنامه";

    var date = DateTime.Now;
    PersianCalendar pc = new PersianCalendar();
}

<div class="text-center alert alert-fazilat rounded-lg box-shadow overflow-hidden">
    <h3 class="my-2 text-bold">@ViewData["Title"]</h3>
    <div class="badge border border-light text-light mt-2">
        @string.Format("{0} {1} {2} {3}",
            pc.GetDayOfWeek(date).ToString()
                .Replace("Saturday", "شنبه")
                .Replace("Sunday", "یکشنبه")
                .Replace("Monday", "دوشنبه")
                .Replace("Tuesday", "سه شنبه")
                .Replace("Wednesday", "چهارشنبه")
                .Replace("Thursday", "پنج شنبه")
                .Replace("Friday", "جمعه"),
            pc.GetDayOfMonth(date),
            pc.GetMonth(date).ToString()
                .Replace("1", "فروردین")
                .Replace("2", "اردیبهشت")
                .Replace("3", "خرداد")
                .Replace("4", "تیر")
                .Replace("5", "مرداد")
                .Replace("6", "شهریور")
                .Replace("7", "مهر")
                .Replace("8", "آبان")
                .Replace("9", "آذر")
                .Replace("10", "دی")
                .Replace("11", "بهمن")
                .Replace("12", "اسفند"),
            pc.GetYear(date))
    </div>
</div>
<hr />

<form id="blog-search-form" method="get" asp-controller="Home" asp-action="Search" class="d-flex bg-white border rounded-lg p-3 mb-3">
    <div class="form-floating w-100 ml-3">
        <input type="search" name="title" class="form-control" placeholder="جستجوی موضوع خبر" required />
    </div>
    <button type="submit" class="btn btn-primary w-25">جستجو</button>
</form>
<hr />

<div class="row d-md-flex flex-wrap">
@foreach(var post in Model)
{
    <div class="col-md-4 p-3">
        <div class="border border-success bg-white rounded-lg p-3">
            <img class="w-100 rounded-lg border border-secondary mb-3" src="/images/blog/@post.Image" />
            <h4 class="text-right mb-2">@post.Title</h4>
            <p class="text-right">
                @post.Content.Substring(0, 160)
            </p>
            @Html.ActionLink("متن کامل خبر", "Post", "Home", new { id = post.Id }, new { Class = "small" })
        </div>
    </div>
}
</div>
