@using System.Globalization;
@model BlogViewModels

@{
    ViewData["Title"] = "خبرنامه";
}

<header class="af-blog-header">
    <div class="af-section-title-bar">
        <h5 class="af-section-title">آخرین مقاله</h5>
    </div>
    @{
        var lastPost = Model.LastPost;
        var imageFile = lastPost.Header.FileName + lastPost.Header.Extension;
        var imageDirectory = lastPost.Header.Category.NormalizedName.ToLower();
        var postAuthor = lastPost.Author.FirstName + ' ' + lastPost.Author.LastName;
        <div class="blog-post horizontal">
            <a class="blog-post-image" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@lastPost.Id">
                <img src="/images/@imageDirectory/@imageFile" />
            </a>
            <div class="blog-post-content">
                <div class="blog-post-body">
                    <a class="blog-post-summary" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@lastPost.Id">
                        <h5>@lastPost.Title</h5>
                        <p>@lastPost.Body</p>
                    </a>
                    <div class="blog-post-author">
                        <div class="post-author">
                            <img src="/icons/author.svg" />
                            @postAuthor
                        </div>
                        <div class="post-publish">
                            <img src="/icons/publish.svg" />
                            @lastPost.Published
                        </div>
                    </div>
                </div>
                <div class="blog-post-tags">
                    <!-- Tags -->
                </div>
            </div>
        </div>
    }
</header>
<section class="af-blog-posts">
    <div class="af-section-title-bar">
        <h5 class="af-section-title">اخبار و مقالات پیشین</h5>
    </div>
    <div class="af-blog-posts-content">
        <article class="blog-posts-list">
            <div class="posts-list">
                @{
                    var c = 0;
                    foreach (Post post in Model.PostsList)
                    {
                        c++;
                        imageFile = post.Header.FileName + post.Header.Extension;
                        imageDirectory = post.Header.Category.NormalizedName.ToLower();
                        postAuthor = post.Author.FirstName + ' ' + post.Author.LastName;
                        <div class="blog-post @(c == 3 ? "horizontal" : "vertical")">
                            <a class="blog-post-image" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                <img src="/images/@imageDirectory/@imageFile" />
                            </a>
                            <div class="blog-post-content">
                                <div class="blog-post-body">
                                    <a class="blog-post-summary" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                        <h5>@post.Title</h5>
                                        <p>@post.Body</p>
                                    </a>
                                    <div class="blog-post-author">
                                        <div class="post-author">
                                            <img src="/icons/author.svg" />
                                            @postAuthor
                                        </div>
                                        <div class="post-publish">
                                            <img src="/icons/publish.svg" />
                                            @post.Published
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-post-tags">
                                    <!-- Tags -->
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="posts-navigator">
                @{
                    int offset = (int)Model.Offset;
                    bool hasPrevious = Model.hasPrevious;
                    bool hasNext = Model.hasNext;

                    if (!hasPrevious)
                    {
                        <button class="btn-previous" disabled>قبلی</button>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Blog" asp-route-offset="@(offset > 1 ? offset-1 : null)">
                            <button class="btn-previous">قبلی</button>
                        </a>
                    }

                    if (!hasNext)
                    {
                        <button class="btn-next" disabled>بعدی</button>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Blog" asp-route-offset="@(offset+1)">
                            <button class="btn-next">بعدی</button>
                        </a>
                    }
                }
            </div>
        </article>
        <aside class="blog-posts-sidebar">
            <div>
                <div class="sidebar-tags">
                    <h6>فهرست موضوعات</h6>
                    @* <p>Post Tags</p> *@
                </div>

                <div class="sidebar-authors">
                    <h6>فهرست نویسندگان</h6>
                    @foreach(AspNetUser author in Model.AuthorsList)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="Author" asp-route-id="@author.Id">
                            @author.FirstName @author.LastName
                        </a>
                    }
                </div>
            </div>
        </aside>
    </div>
</section>

@*
<div class="text-center alert alert-fazilat rounded-lg box-shadow overflow-hidden">
    <h3 class="my-2 text-bold">@ViewData["Title"]</h3>
    <div class="badge border border-light text-light mt-2">
        @string.Format("{0} {1} {2} {3}",
            pc.GetDayOfWeek(date).ToString()
                .Replace("Saturday", "شنبه")
                .Replace("Sunday", "یکشنبه")
                .Replace("Monday", "دوشنبه")
                .Replace("Tuesday", "سه شنبه")
                .Replace("Wednesday", "چهارشنبه")
                .Replace("Thursday", "پنج شنبه")
                .Replace("Friday", "جمعه"),
            pc.GetDayOfMonth(date),
            pc.GetMonth(date).ToString()
                .Replace("1", "فروردین")
                .Replace("2", "اردیبهشت")
                .Replace("3", "خرداد")
                .Replace("4", "تیر")
                .Replace("5", "مرداد")
                .Replace("6", "شهریور")
                .Replace("7", "مهر")
                .Replace("8", "آبان")
                .Replace("9", "آذر")
                .Replace("10", "دی")
                .Replace("11", "بهمن")
                .Replace("12", "اسفند"),
            pc.GetYear(date))
    </div>
</div>
<hr />

<form id="blog-search-form" method="get" asp-controller="Home" asp-action="Search" class="d-flex bg-white border rounded-lg p-3 mb-3">
    <div class="form-floating w-100 ml-3">
        <input type="search" name="title" class="form-control" placeholder="جستجوی موضوع خبر" required />
    </div>
    <button type="submit" class="btn btn-primary w-25">جستجو</button>
</form>
<hr />

<div class="row d-md-flex flex-wrap">
@foreach(var post in Model)
{
    <div class="col-md-4 p-3">
        <div class="border border-success bg-white rounded-lg p-3">
            <img class="w-100 rounded-lg border border-secondary mb-3" src="/images/blog/@post.Image" />
            <h4 class="text-right mb-2">@post.Title</h4>
            <p class="text-right">
                @post.Content.Substring(0, 160)
            </p>
            @Html.ActionLink("متن کامل خبر", "Post", "Home", new { id = post.Id }, new { Class = "small" })
        </div>
    </div>
}
</div>
*@
