@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<header class="af-home-header">
    <div class="af-home-slider">
        @foreach (var slide in Model.Slider)
        {
            var imageFile = slide.Image.FileName + slide.Image.Extension;
            <div class="slides">
                <a href="#">
                    <img src="/images/slide/@imageFile">
                </a>
            </div>
        }
    </div>

    <div class="af-home-event">

    </div>
</header>

<section class="af-home-banners">
</section>

<section class="af-home-register-cta">
    <h4>با یک حساب کاربری می توانید از تمامی خدمات فوق استفاده کنید.</h4>
    <a class="btn btn-cta" asp-area="" asp-controller="Account" asp-action="Index">ثبت نام</a>
</section>

<section class="af-home-blog">
    <div class="af-section-title-bar">
        <h5 class="af-section-title">آخرین اخبار و مقالات</h5>
        <a class="af-section-title-link" asp-area="" asp-controller="Home" asp-action="Blog">مشاهده تمامی مطالب</a>
    </div>
    <div class="af-home-blog-posts">
        @{
            bool horizontal = true; 
            foreach (var post in Model.Blog)
            {
                var imageFile = post.Header.FileName + post.Header.Extension;
                var author = post.Author.FirstName + ' ' + post.Author.LastName;
                <div class="blog-post @(horizontal ? "horizontal" : "vertical")">
                    <a class="blog-post-image" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                        <img src="/images/blog/@imageFile" />
                    </a>
                    <div class="blog-post-content">
                        <div class="blog-post-body">
                            <a class="blog-post-summary" asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                                <h5>@post.Title</h5>
                                <p>@post.Body</p>
                            </a>
                            <div class="blog-post-author">
                                <div class="post-author">
                                    <img src="/icons/author.svg" />
                                    @author
                                </div>
                                <div class="post-publish">
                                    <img src="/icons/publish.svg" />
                                    @post.Published
                                </div>
                            </div>
                        </div>
                        <div class="blog-post-tags">
                            Tags
                        </div>
                    </div>
                </div>
                horizontal = false;
            }
        }
    </div>
</section>

<section class="af-home-contact">
    <div></div>
    <div>
        <div class="contact-info contact-whatsapp">
            <img src="/icons/whatsapp-blue.svg" />
            <h5 class="en">0936 204 6937</h5>
        </div>
        <div class="contact-info contact-phone">
            <img src="/icons/phone-blue.svg" />
            <h5 class="en">021 - 23456789</h5>
        </div>
        <div class="contact-info contact-address">
            <img src="/icons/location-blue.svg" />
            <h5>تهران، قلهک، خیابان دکتر شریعتی، بالاتر از میرداماد، کوچه احمدیه یکم، پلاک 10، واحد 7</h5>
        </div>
    </div>
</section>
