@model Post;

@{
    ViewData["Title"] = Model.Title;
}

<section class="af-post-page">
    <article class="af-post-body">
        <header class="post-header">
            <img src="/images/blog/@Model.Header.FileName@Model.Header.Extension" />
        </header>
        <div class="post-body">
            @Html.Raw(Model.Body.Replace("\r\n", "<br />"))
        </div>
    </article>
    <aside class="af-post-info">
        <div>
            <h5 class="post-title">@Model.Title</h5>
            <div class="post-author">
                <img src="/icons/author.svg" />
                @Model.Author.FirstName @Model.Author.LastName
            </div>
            <div class="post-publish">
                <img src="/icons/publish.svg" />
                @Model.Published
            </div>
            <div class="post-tags">
                Model.Tags
            </div>
        </div>
    </aside>
</section>
