@using System.Globalization;
@model ReserveViewModel
@{
    ViewData["Title"] = Model.Instruction.Title;
    var majors = new List<string>() { "انسانی", "تجربی", "ریاضی", "زبان", "هنر" };
    var types = new List<string>() { "آنلاین", "حضوری" };

    PersianCalendar persianCalendar = new PersianCalendar();
    var tickets = new List<SelectListItem>();
    if(Model.Tickets.Count == 0)
    {
        TempData["StatusMessage"] = "هیچ نوبت خالی برای مشاوره وجود ندارد.";
        tickets.Add(new SelectListItem()
        {
            Text = "نوبتی وجود ندارد",
            Value = "0"
        });
    }

    foreach(var ticket in Model.Tickets)
    {
        tickets.Add(new SelectListItem()
        {
            Text = String.Format("{0} ({1}:{2:00})",
                ticket.Day,
                ticket.Hour,
                ticket.Minute),
            Value = ticket.Id,
        });
    }
}

@if (!Model.Instruction.IsActive)
{
    <div class="alert alert-info text-center py-5">
        در حال حاضر سامانه نوبت دهی جلسات مشاوره غیرفعال می باشد.
    </div>
}
else
{
@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-info text-right" role="alert">
        @TempData["StatusMessage"]
    </div>
}
<div class="d-md-flex justify-content-between">
    <div class="col-md-7 pr-md-0 text-center text-md-right">
        <h4 class="text-black mb-3">@ViewData["Title"]</h4>

        @Html.Raw(Model.Instruction.Content)
    </div>
    <div class="col-md-4 p-0">
        <form id="reserve" method="post" enctype="multipart/form-data" class="p-3 mt-5 text-right bg-white bg-opacity-10 border rounded-lg shadow">
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control ltr" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Major)
                @Html.DropDownListFor(m => m.Major,
                    new SelectList(majors.ToList()),
                    null,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Major, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Ticket)
                <div class="d-md-flex justify-content-between">
                    @Html.DropDownListFor(m => m.TicketId,
                        new SelectList(tickets.ToList(), "Value", "Text", null),
                        null,
                        new { @class = "form-control col-md-8" })

                    @Html.DropDownListFor(m => m.Type,
                        new SelectList(types.ToList()),
                        null,
                        new { @class = "form-control col-md-4" })
                </div>
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.PaymentFile)
                @Html.EditorFor(m => m.PaymentFile, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PaymentFile, "", new { @class = "text-danger" })
            </div>
            @if(Model.Tickets.Count > 0)
            {
                <div class="form-floating">
                    <button id="reserve-submit" type="submit" class="w-100 btn btn-lg btn-info">ارسال درخواست مشاوره</button>
                </div>
            }
        </form>
    </div>
</div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
