@using System.Globalization;
@model ReserveViewModel
@{
    ViewData["Title"] = "نوبت دهی انتخاب رشته کنکور سراسری";
    var majors = new List<string>() { "انسانی", "تجربی", "ریاضی", "زبان", "هنر" };
    var types = new List<string>() { "آنلاین", "حضوری" };

    PersianCalendar persianCalendar = new PersianCalendar();
    var tickets = new List<SelectListItem>();
    if(Model.Tickets.Count == 0)
    {
        TempData["StatusMessage"] = "هیچ نوبت خالی برای مشاوره وجود ندارد.";
        tickets.Add(new SelectListItem()
        {
            Text = "نوبتی وجود ندارد",
            Value = "0"
        });
    }

    foreach(var ticket in Model.Tickets)
    {
        tickets.Add(new SelectListItem()
        {
            Text = String.Format("{0} ({1}:{2:00})",
                ticket.Day,
                ticket.Hour,
                ticket.Minute),
            Value = ticket.Id,
        });
    }
}

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-info text-right" role="alert">
        @TempData["StatusMessage"]
    </div>
}
<div class="d-md-flex justify-content-between">
    <div class="col-md-7 pr-md-0 text-center text-md-right">
        <h4 class="text-black mb-3">@ViewData["Title"]</h4>
        <div class="list-group text-right">
            <div class="list-group-item p-4">
                <h5 class="mb-2 text-bold">مدت زمان جلسات مشاوره</h5>
                <p class="mb-2">
                    فرایند انتخاب رشته شما، در دو جلسه صورت می گیرد.
                    <br />
                    جلسه اول به مشاوره و بررسی شرایط کارنامه و رشته ها اختصاص دارد 
                    و در جلسه دوم انتخاب ها بررسی و نهایی شده و در سایت سازمان سنجش ثبت می شود.
                </p>
                <p class="alert alert-info m-0">
                    جلسات به انتخاب داوطلب به یکی از دو صورت زیر برگزار می گردد.
                    <br />
                    <span class="text-bold">جلسه حضوری</span> در دفتر مرکزی موسسه آوای فضیلت
                    <br />
                    <span class="text-bold">جلسه آنلاین</span> از طریق تماس تصویری واتسپ
                </p>
            </div>
            <div class="list-group-item p-4">
                <h5 class="mb-2 text-bold">نحوه دریافت نوبت</h5>
                <p class="mb-2">
                    ۱- هزینه‌ی مشاوره و انتخاب رشته را به شماره کارت اعلام شده در کادر زیر واریز نمایید و عکس رسید را در فرم ثبت نام بارگذاری کنید.
                    <br />
                    ۲- نام و نام خانوادگی، شماره‌ی تلفن همراه و رشته‌ی تحصیلی خود را در کادر مشخص شده وارد نمایید.
                    <br />
                    ۳- روز و ساعت مورد نظر خود را از فهرست موجود انتخاب نمایید.
                    <br />
                    ۴- اگر مایل به جلسه‌ی حضوری هستید، گزینه‌ی حضوری را فعال کنید.
                    <br />
                    ۵- در پایان روی گزینه‌ی ارسال درخواست مشاوره کلیک نمایید.
                </p>
                <p class="alert alert-danger mb-2">
                    توجه:
                    <br />
                    فرم‌های فاقد شماره‌ی تلفن همراه یا فاقد فیش واریز تایید نخواهند شد.
                    <br />
                    رسید یا فیش واریز را تا پایان انتخاب رشته، نزد خود نگه دارید.
                </p>
                <p class="m-0">
                    دقت داشته باشید، پس از ارسال درخواست مشاوره و بررسی مشخصات شما، پیامک تایید از سوی موسسه برای شما ارسال خواهد شد.
                </p>
            </div>
            <div class="list-group-item p-4">
                <h5 class="mb-2 text-bold">هزینه‌ی مشاوره و انتخاب رشته</h5>
                <p class="mb-2">
                    مجموع مبلغ پرداختی توسط داوطلب 1,500,000 (یک میلیون و پانصد هزار) تومان می باشد.
                </p>
                <p class="alert alert-info ltr text-center d-md-flex justify-content-between m-0">
                    <span class="col-md-6 ltr text-left">6037 - 9973 - 8311 - 3447</span>
                    <span class="col-md-6 rtl text-right">علیرضا ندرلو (بانک ملی ایران)</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 p-0">
        <form id="reserve" method="post" enctype="multipart/form-data" class="p-3 mt-5 text-right bg-white bg-opacity-10 border rounded-lg shadow">
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control ltr" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Major)
                @Html.DropDownListFor(m => m.Major,
                    new SelectList(majors.ToList()),
                    null,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Major, "", new { @class = "text-danger" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Ticket)
                <div class="d-md-flex justify-content-between">
                    @Html.DropDownListFor(m => m.TicketId,
                        new SelectList(tickets.ToList(), "Value", "Text", null),
                        null,
                        new { @class = "form-control col-md-8" })

                    @Html.DropDownListFor(m => m.Type,
                        new SelectList(types.ToList()),
                        null,
                        new { @class = "form-control col-md-4" })
                </div>
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.PaymentFile)
                @Html.EditorFor(m => m.PaymentFile, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PaymentFile, "", new { @class = "text-danger" })
            </div>
            @if(Model.Tickets.Count > 0)
            {
                <div class="form-floating">
                    <button id="reserve-submit" type="submit" class="w-100 btn btn-lg btn-info">ارسال درخواست مشاوره</button>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
