@model IEnumerable<Fazilat.Models.Workshop>

@{
    ViewData["Title"] = "فهرست کلاس های ویژه";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">کلاس جدید</a>
</p>

<table class="list-group">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="list-group-item d-flex justify-content-between align-items-end">
                <td class="d-flex flex-column">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <h6 class="fw-bold m-0">
                            @Html.DisplayFor(modelItem => item.Title)
                            <small class="text-dark">(<b>@Html.DisplayFor(modelItem => item.Capacity)</b> / @Html.DisplayFor(modelItem => item.Learners.Count))</small>
                        </h6>
                    </a>
                    @if (item.Grade == 10)
                    {
                        <small class="text-dark">پایه دهم</small>
                    }
                    else if (item.Grade == 11)
                    {
                        <small class="text-dark">پایه یازدم</small>
                    }
                    else if (item.Grade == 12)
                    {
                        <small class="text-dark">پایه دوازدهم</small>
                    }
                </td>
                <td class="text-left">
                    <a asp-action="Edit" asp-route-id="@item.Id"><small>ویرایش</small></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><small>حذف</small></a>
                </td>
            </tr>
        }
    </tbody>
</table>
