@model IEnumerable<Fazilat.Models.Workshop>

@{
    ViewData["Title"] = "فهرست دوره های جمعبندی";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">افزودن دوره جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
