@model Fazilat.Models.Curriculum
@{
    ViewData["Title"] = Model.Title;
}

<div class="alert alert-info">
    @Html.Raw(Model.Description.Replace(Environment.NewLine, "<br />"))
</div>
<div class="list-group p-0">
@foreach(var course in Model.Courses)
{
    <form id="student-course-form" method="post" action="/Dashboard/Course" class="list-group-item d-md-flex border-info px-3 mb-3">
        <input name="Id" type="hidden" value="@course.Id" />
        <input name="CurriculumId" type="hidden" value="@course.CurriculumId" />
        <div class="w-100 mb-2 ml-md-2">
            <input name="Title" type="hidden" value="@course.Title" />
            @Html.TextBoxFor(c => course.Title, new { @class = "form-control mb-2", disabled = true })
            <input name="Topics" type="hidden" value="@course.Topics" />
            @Html.TextAreaFor(c => course.Topics, new { @class = "form-control mb-2", disabled = true })
        </div>
        <div class="w-100 mr-md-2">
            <div class="d-flex justify-content-between mb-2">
                <span class="form-control">
                    @Html.CheckBox("Accomplished", course.Accomplished)
                    @Html.LabelFor(c => course.Accomplished)
                </span>
                <button class="btn btn-outline-primary mr-2">
                    <i class="fa fa-save"></i>
                </button>
            </div>
            @Html.TextArea("Descritpion", course.Descritpion, new { @class = "form-control", placeholder = "توضیح مطالعه" })
        </div>
    </form>
}
</div>
