@model IEnumerable<Fazilat.Models.Course>
@{
    ViewData["Title"] = "Curriculum";
}

<div class="row">
    <h3 class="col-md border rounded-lg shadow-sm m-1 p-3 alert-success">
        @TempData.FirstOrDefault(t => t.Key == "CurriculumTitle").Value
        (@TempData.FirstOrDefault(t => t.Key == "CurriculumDate").Value)
    </h3>
</div>
<div class="row">
@foreach(var course in Model)
{
    <div class="col-md shadow-sm border rounded-lg p-3 m-1">
        <h4>@course.Title</h4>
        <p>@course.Topics</p>
        <a asp-area="Account" asp-controller="Dashboard" asp-action="Course" asp-route-id="@course.Id">Report</a>
    </div>
}
</div>
