@model Fazilat.Models.Media

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Media</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uploaded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uploaded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
