@model Fazilat.Areas.Account.Models.Login;

@{
    ViewData["Title"] = "ورود به پنل کاربری";
}

<div class="af-am-content login">
    <section>
        <div class="">
            <div class="mb-4 text-center">
                <h4>دوست عزیز؛ سلام!</h4>
                <p>برای پیدا کردن نزدیکترین مسیر به خود واقعیت، ثبت نام کن تا سفر مشترکمون رو شروع کنیم.</p>
            </div>
            <button class="btn btn-outline-light">شروع سفر</button>
        </div>
        <div class="card">
            @using (Html.BeginForm("Login", "Home", new { area = "Account" }, FormMethod.Post, null, new { @class = "" }))
            {
                <div class="text-box en">
                    @Html.LabelFor(m => m.UserName, new { @class = "placeholder" })
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "" })
                </div>
                <small>نام کاربری، کد ملی یا شماره موبایلته.</small>
                @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "form-text text-danger" })
                <div class="text-box en">
                    @Html.LabelFor(m => m.Password, new { @class = "placeholder" })
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "" })
                </div>
                <small id="usernameHelp" class="form-text text-success">
                    @Html.ActionLink("اگر رمز ورودت رو فراموش کردی اینجا کلیک کن.", "Forgot", "Password", new { Area = "Account" })
                </small>
                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "form-text text-danger" })
                <button type="submit" class="button cta">ورود</button>
            }
        </div>
    </section>
</div>
