@model IEnumerable<Fazilat.Models.ApplicationUser>
@{
    ViewData["Title"] = "مشاوران";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="alert-success">
            <td>
                @Html.DisplayFor(modelItem => item.Information.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a class="text-danger" asp-action="Advisers" asp-route-id="@item.Id">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
