@model AdviserModel
@{
    ViewData["Title"] = "Advisers";
}

<partial name="_StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Advisers.FirstOrDefault().Information.NationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advisers.FirstOrDefault().Information.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advisers.FirstOrDefault().Information.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advisers.FirstOrDefault().Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Advisers) {
        <tr class="alert-primary">
            <td>
                @Html.DisplayFor(modelItem => item.Information.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td></td>
        </tr>
}
@foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Information.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Adviser" asp-route-id="@item.Id">Promote</a>
            </td>
        </tr>
}
    </tbody>
</table>
