@model IEnumerable<Fazilat.Models.ApplicationUser>
@{
    ViewData["Title"] = "Advisers";
}

<partial name="_StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information.NationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Information.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Adviser" asp-route-id="@item.Id">Promote</a>
            </td>
        </tr>
}
    </tbody>
</table>
