@model Fazilat.Models.ApplicationUser
@{
    ViewData["Title"] = "پرونده مالی";
}

<form id="limitation-update-form" method="post"asp-action="Limitation">
    <input type="hidden" name="UserId" value="@Model.Limitation.UserId" />
    <div class="form-floating p-3 mb-3 border border-success rounded-lg bg-white box-shadow">
        <div class="form-label h-auto col-12 px-1 mb-3">تاریخ پایان اعتبار</div>
        <div class="row d-flex justify-content-between px-3">
            <input type="text" id="ExpirationMonth" name="ExpirationMonth" value="@Model.Limitation.ExpirationMonth" class="form-control col-3 text-center" />
            <input type="text" id="ExpirationYead" name="ExpirationYear" value="@Model.Limitation.ExpirationYear" class="form-control col-3 text-center" />
            <button type="submit" class="form-control col-5 btn btn-outline-primary">ثبت تاریخ</button>
        </div>
    </div>
</form>

<div class="list-group p-0">
@if(Model.FinancialFile.Count() < 1)
{
    <span class="alert alert-warning">هیچ سابقه پرداختی وجود ندارد.</span>
}
@foreach(var record in Model.FinancialFile)
{
    <div class="list-group-item d-flex justify-content-between border-info px-3">
        <form method="post">
            <input type="hidden" name="Id" value="@record.Id" />
            <button class="bg-white border-0">
            @if (record.IsApproved)
            {
                <i class="fa fa-check-square-o text-success w-auto mt-1"></i>
            }
            else
            {
                <i class="fa fa-square-o text-danger w-auto mt-1"></i>
            }
            </button>
        </form>
        <span class="w-100 mr-2">
            @Html.DisplayFor(r => record.Description, new { @class = "form-control" })
        </span>
        <span class="w-100">
            @Html.DisplayFor(r => record.TrackingCode, new { @class = "form-control" })
        </span>
        <form method="post" target="_blank" asp-action="FinancialReceipt">
            <input type="hidden" name="Id" value="@record.Id" />
            <button class="bg-white border-0">
                <i class="fa fa-photo w-auto mt-1 text-primary"></i>
            </button>
        </form>
    </div>
}
</div>
