@using System.Globalization;
@model Fazilat.Models.Meeting
@{
    ViewData["Title"] = "درخواست جلسه مشاوره";

    var ticket = Model.Ticket;
    var meetingTime = String.Format("{0} ({1}:{2:00})",
        ticket.Day,
        ticket.Hour,
        ticket.Minute);
}

<div class="d-md-flex justify-content-between">
    <div class="col-md-5 p-3 text-right bg-white bg-opacity-10 border rounded-lg shadow">
        <div class="form-floating mb-3">
            @Html.LabelFor(m => m.Name)
            <div class="form-control">
                @Html.DisplayFor(m => m.Name)
            </div>
        </div>
        <div class="form-floating mb-3">
            @Html.LabelFor(m => m.PhoneNumber)
            <div class="form-control">
                @Html.DisplayFor(m => m.PhoneNumber)
            </div>
        </div>
        <div class="form-floating mb-3">
            @Html.LabelFor(m => m.Major)
            <div class="form-control">
                @Html.DisplayFor(m => m.Major)
            </div>
        </div>
        <div class="form-floating mb-3">
            @Html.LabelFor(m => m.Ticket)
            <div class="d-md-flex justify-content-between">
                <div class="form-control d-flex justify-content-between">
                    <span>@meetingTime</span>
                    <span>@Html.DisplayFor(m => m.Type)</span>
                </div>
            </div>
        </div>
        <div class="form-floating d-flex justify-content-between">
            <a asp-controller="Administrator" asp-action="Reject" asp-route-id="@Model.Id" class="btn btn-danger text-white">
                <i class="fa fa-remove"></i>
                رد درخواست
            </a>
            <a asp-controller="Administrator" asp-action="Confirm" asp-route-id="@Model.Id" class="btn btn-success text-white">
                <i class="fa fa-check"></i>
                تایید پرداخت
            </a>
        </div>
    </div>
    <div class="col-md-5 p-0">
        <img src="data:image/png;base64,@Convert.ToBase64String(Model.Payment)" class="col-md-12 p-0 border border-success rounded-lg" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
